*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #4d5e67;
  --white: #f3f3f3;
  --black: #202020;
  --green: #50c15b;
  --lightGreen: #75d07e;
  --blue: #7ec1ff;
  --lightBlue: #90c2f0;
  --pink: #c758c5;
  --lightPink: #ef91ed;
  --borderRadius: 10px;
  --boxShadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  --boxShadowBottom: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --montserrat: "Montserrat", sans-serif;
  --fontSizeText: 1.4rem;
  --fontSizeTextMedium: 1.6rem;
  --fontSizeTextBig: 1.8rem;
  --fontSizeH1: 4rem;
  --fontSizeH2: 3rem;
  --fontSizeH3: 2rem;
}

@media screen and (min-width: 768px) {
  :root {
    --fontSizeText: 1.6rem;
    --fontSizeTextMedium: 1.8rem;
    --fontSizeTextBig: 2rem;
    --fontSizeH1: 5.2rem;
    --fontSizeH2: 4rem;
    --fontSizeH3: 2.8rem;
  }
}

html {
  font-size: 62.5%;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--montserrat);
  background-color: var(--background);
}

.blue {
  color: var(--blue);
}
.green {
  color: var(--green);
}
.pink {
  color: var(--pink);
}

.lightBlue {
  color: var(--lightBlue);
}
.lightGreen {
  color: var(--lightGreen);
}
.lightPink {
  color: var(--lightPink);
}
